
/*global*/
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
:root {
    --background-color: #FAFAFF; /* --white */
    --header-color: #30343F; /* --gunmetal */
    --accent-color: #E4D9FF; /* --periwinkle */
    --title-color: #273469; /* --delft-blue */
    --secondary-background-color: #1E2749; /* --space-cadet */
    --text-color: #333333; /* Color para texto principal, un gris oscuro */
    --secondary-text-color: #64697C; /* Color para texto secundario, un gris medio */
    --highlight-text-color: #FF6F61; /* Color de acento para resaltar texto, un tono coral */
}
body {
    font-family: 'Teko', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    color: var(--title-color);
    z-index: 200;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.45rem 2rem 0.45rem 1.27rem;
    position: fixed;
    background-color: var(--accent-color);
    top: 0;
    left: 0;
}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
}
.menu-container{
    min-height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.menu{
    width: 1.5rem;
    height: 37%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu div{
    width: 100%;
    height: 0.15rem;
}
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}
.brand .logo{
    width: 3rem;
}
.brand .name{
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--title-color);
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}
.right a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease;
}
.right a:hover{
    background-color: var(--background-color);
}
.right img{
    width: 1.5rem;
    margin: 0.5rem;
}
.right .user{
    width: 2.1rem;
    border-radius: 50%;
}
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Teko, sans-serif;
}

body {
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.screen {
    background: linear-gradient(90deg, #5D54A4, #7C78B8);
    position: relative;
    height: 600px;
    width: 360px;
    box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
    z-index: 1;
    position: relative;
    height: 100%;
}

.screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

.screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
}

.screen__background__shape1 {
    height: 520px;
    width: 520px;
    background: #FFF;
    top: -50px;
    right: 120px;
    border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
    height: 220px;
    width: 220px;
    background: #6C63AC;
    top: -172px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape3 {
    height: 540px;
    width: 190px;
    background: linear-gradient(270deg, #5D54A4, #6A679E);
    top: -24px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape4 {
    height: 400px;
    width: 200px;
    background: #7E7BB9;
    top: 420px;
    right: 50px;
    border-radius: 60px;
}

.login {
    width: 320px;
    padding: 30px;
    padding-top: 156px;
}

.login__field {
    padding: 20px 0px;
    position: relative;
}

.login__icon {
    position: absolute;
    top: 30px;
    color: #7875B5;
}

.login__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    border-bottom-color: #6A679E;
}

.login__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #4C489D;
    box-shadow: 0px 2px 2px #5C5696;
    cursor: pointer;
    transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
    border-color: #6A679E;
    outline: none;
}

.button__icon {
    font-size: 24px;
    margin-left: auto;
    color: #7875B5;
}

.social-login {
    position: absolute;
    height: 140px;
    width: 160px;
    text-align: center;
    bottom: 0px;
    right: 0px;
    color: #fff;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-login__icon {
    padding: 20px 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
    transform: scale(1.5);
}
.logo-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo {
    width: 100px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
}
.sidebar {
    margin-top: 4rem;
    width: 12.5rem;
    height: 100vh; /* Altura completa de la ventana */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 1.1rem 0;
    overflow-y: auto; /* Habilita el scroll vertical */
    background-color: var(--background-color);
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

/* Ocultar la barra de desplazamiento en navegadores WebKit (Chrome, Safari) */
.sidebar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    padding: 0.9rem 0.7rem;
    text-decoration: none;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    color: var(--text-color);
}

.sidebar a:hover {
    background-color: var(--accent-color);
}

.sidebar img {
    width: 1.6rem;
}

.sidebar a.selected {
    color: var(--secondary-text-color);
}



